@font-face {
    /* Copyright 2004 Google LLC */
    font-family: "Roboto";
    src: url(../fonts/Roboto-Regular.ttf) format("truetype");
    font-weight: normal;
}

@font-face {
    /* Copyright 2004 Google LLC */
    font-family: "Roboto";
    src: url(../fonts/Roboto-Bold.ttf) format("truetype");
    font-weight: bold;
}

@font-face {
    /* Copyright 2004 Google LLC */
    font-family: "Roboto";
    src: url(../fonts/Roboto-Light.ttf) format("truetype");
    font-weight: 200;
}

* {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 20px;
}

main {
    flex: 1;
}

header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 0 10em 2em;
}

.header-first-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 0;
    box-sizing: border-box;
}

.logo {
    margin: 0;
    min-width: 127px;
    font-size: 24px;
    color: #F9FAF8;
}

.nav-links {
    display: flex;
}

.nav-links,
.nav-links a {
    padding-left: 10px;
    color: #E5E7EB;
    font-weight: 200;
    font-size: 18px;
    text-decoration: none;
}

.header-second-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 30px 0;
    box-sizing: border-box;
    gap: 20px;
}

.hero-text {
    /* flex: 1; */
    align-self: flex-start;
    max-width: 37%;
}

.hero-text h1 {
    margin-top: 0;
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-text p {
    font-size: 18px;
    color: #E5E7EB;
}

img {
    align-self: flex-end;
    max-width: 100%;
    height: auto;
}

/* Adjust the view of the logo and navigation when screen is smaller*/
@media (max-width: 518px) {
    .header-first-row {
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .logo {
        order: 2;
    }

    .nav-links {
        order: 1;
    }
}

/* Overlap the image in the header with the hero text when screen size is smaller than 1170px*/
@media (max-width: 1170px) {
    .header-second-row {
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .hero-text {
        order: 2;
        text-align: center;
        align-self: center;
    }

    .header-second-row img {
        align-self: center;
        order: 1;
        max-width: 100%;
    }
}

/* Footer section style */

.main-footer {
    background-color: #1F2937;
    color: #FFF;
    width: 100%;
    padding: .5em 0em;
    margin-top: 1em;
    font-family: Roboto, sans-serif;
    display: flex;
    justify-content: center;
}

/* End of Footer section style */