/* Header section style */
header {
    padding-bottom: 5em;

    background-color: #1F2937;
    color: #F9FAF8;
}

header .row {
    display: flex;
    align-items: center;
    margin: 0 15vw;
}

.first_row {
    height: 10%;
    justify-content: space-between;
}

.logo {
    align-content: center;

    font-size: 24px;
}

.thin_text {
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 200;
}

header a {
    margin: 10px;
}

.second_row {
    height: 90%;
    justify-content: space-between;
}

.first_column {
    width: 30em;
}

h1 {
    font-weight: bold;
    font-size: 48px;
}

header .button {
    background-color: #3882F6;
    border-style: none;
    border-radius: 10px;
    padding: 10px;

    color: #F9FAF8;
    font-family: Roboto, sans-serif;
    font-size: 15px
}

/* End of Header section style */

/* Footer section style */

.main-footer {
    background-color: #1F2937;
    color: #FFF;
    width: 100%;
    padding: .5em 0em;
    margin-top: 1em;
    font-family: Roboto, sans-serif;
    display: flex;
    justify-content: center;
}

/* End of Footer section style */