/* All sections style */
@font-face {
    /* Copyright 2004 Google LLC */
    font-family: "Roboto";
    src: url(../fonts/Roboto-Regular.ttf) format("truetype");
    font-weight: normal;
}

@font-face {
    /* Copyright 2004 Google LLC */
    font-family: "Roboto";
    src: url(../fonts/Roboto-Bold.ttf) format("truetype");
    font-weight: bold;
}

@font-face {
    /* Copyright 2004 Google LLC */
    font-family: "Roboto";
    src: url(../fonts/Roboto-Light.ttf) format("truetype");
    font-weight: 200;
}

@font-face {
    /* Copyright 2004 Google LLC */
    font-family: "Roboto";
    src: url(../fonts/Roboto-LightItalic.ttf) format("truetype");
    font-weight: lighter;
    font-style: italic;
}

* {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

body {
    margin: 0px;
}

a {
    text-decoration: none;
}

.button {
    background-color: #3882F6;  /* Clear Blue */
    border-radius: .5em;
    padding: .5em 1em;

    color: #F9FAF8; /* White-ish */
    font-family: Roboto, sans-serif;
    font-size: 15px;
    
    cursor: pointer;
}
/* End of All sections style */

main {
    padding: 30px 0;
}

#skills {
    padding-bottom: 5rem;
}

#skills>h3,
#skills>.skills-container>.skills-item>p {
    text-align: center;
}

#skills>h3 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.skills-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
}

.skills-item img {
    max-width: 100%;
    height: auto;
    max-width: 100%;
    border-radius: 10%;
}

#quote {
    background-color: #E5E7EB;
}

blockquote:before {
    color: #ccc;
    content: "\201C";
    position: absolute;
    font-size: 5em;
    color: #ccc;
    font-family: Arial, sans-serif;
}

#quotation {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    background-color: #E5E7EB;
}

blockquote {
    position: relative;
    padding: 1em;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
    line-height: 1.5;
    text-align: left;
}

cite {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 1.4rem;
    font-style: normal;
}

blockquote::before {
    position: absolute;
    font-family: Georgia, serif;
    color: #ccc;
    content: "\201C";
    font-size: 5.5em;
}

blockquote::before {
    top: -0.3em;
    left: -0.25em;
}
/*

/* Call to action section style */
.cta {
    background-color: #3882F6;
    color: #FFF;
    padding: 1em 6em;
    margin: auto;
    margin-top: 1em;
    border-radius: .5em;
    width: 50%;
    font-family: Roboto;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
}

.cta h4 {
    margin-bottom: 0;
}

.cta p {
    margin-top: 0;
    font-size: 12px;
    font-weight: 300;
}

.cta button {
    background-color: #3882F6;
    color: #FFF;
    padding: .5em 1em;
    border-radius: .5em;
    border: 1px solid white;
}
/* End of Call to action section */

/* Main section Projects page */
#projects {
    color: rgb(188, 190, 205); /* Light grey color. Darker than background color of timeline */
}

#projects main {
    padding: 0;
}

.title {
    font-size: 36px;
    color: #1F2937; /* Blue-black color */
}

.timeline {
    padding: 40px 15vw;
    
    background-color: #E5E7EB; /* Light grey color */
    color: #1F2937;
}

.timeline .title {
    text-align: center;
}

.timeline_row { /* Timelines tabel rows */
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0;
}

.item { /* Timelines rows items */
    overflow-X: hidden;
    text-align: center;
}

.line { /* Timelines line. Removes whitespace between hyphens to make one continues line */
    letter-spacing: -3px;
    white-space: nowrap;
}

.item_2 { /* Timelines row item nr.2. Adds margin to make timeline propotional */
    margin: 0 0 0 100px;
}

.item p {
    margin: 0;
    font-weight: bold;
}

.item a {
    color: #1F2937;
}

#projects section {
    display: flex;
    margin: 40px 15vw;
}

div.column_1 {
    margin: 0 4vw 0 0;
}

div.column_2 {
    margin: 0 0 0 2vw;
}

#P1 .column_2, #P2 .column_1, #P3 .column_2 {
    display: flex;
    align-items: center;
}

section img {
    max-width: 25vw;
}

nav {
    display: flex;
    justify-content: center;
}